@using System.Data
@model DataTable
<h1>Movie Listing</h1>
<hr>
<table class="table">
    <th>Id</th>
    <th>Name</th>
    <th>year</th>
    <th>Rating</th>
    <tbody>
        @foreach(DataRow dr in Model.Rows)
        {
            <tr>
                <td>@dr["Id"]</td>
                <td>@dr["Name"]</td>
                <td>@dr["year"]</td>
                <td>@dr["Rating"]</td>
                <td></td>
                <td>@Html.ActionLink("Display","Display","Product",new {id=@dr["ID"]});</td>


            </tr>
        }
    </tbody>
</table>