@model ProdMvc.Models.Product
<h2>Details of @Model.Name</h2>
<p>@Html.DisplayNameFor(m=>m.Id) &nbsp;&nbsp;&nbsp;@Html.DisplayFor(m=>m.Id)</p>
<p>@Html.DisplayNameFor(m=>m.Price) &nbsp;&nbsp;&nbsp;@Html.DisplayFor(m=>m.Price)</p>
<p>@Html.DisplayNameFor(m=>m.Stock) &nbsp;&nbsp;&nbsp;@Html.DisplayFor(m=>m.Stock)</p>
<hr>
@Html.ActionLink("Back to list","List")