@model IEnumerable<EMS.Models.Dept>
<div class='container'>
<h1>This is Dept List</h1>
<h3>@Html.ActionLink("Add Department","Create")</h3>
<br>
<table class="table table-bordered">
    <thead>
    <th>@Html.DisplayNameFor(d=>d.Id)</th>
    <th>@Html.DisplayNameFor(d=>d.Name)</th>
    <th>@Html.DisplayNameFor(d=>d.Location)</th>
    </thead>
    <tbody>
        @foreach(var dept in @Model){
            <tr>
            <td>@dept.Id</td>
            <td>@dept.Name</td>
            <td>@dept.Location</td>
            <td></td>
            <td>
                @Html.ActionLink("Details","Display",new {id=dept.Id}) &nbsp;&nbsp;
                @Html.ActionLink("Edit","Edit",new {id=dept.Id}) &nbsp;&nbsp;
                @Html.ActionLink("Delete","Delete",new {id=dept.Id}) &nbsp;&nbsp;
            </td>
            </tr>
        }
    </tbody>
</table>
 
</div>